html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

body {
    background-color: #f5f5f5 !important;
    margin-bottom: 150px;
    /*background: #f7f7f7 !important;*/
}

#mnuLogo {
    cursor: pointer;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('imgs/icon_top.png') no-repeat;
}


.container {
    background: #fff;
    padding: 1rem 2rem;
}

table .link{   
    cursor: pointer;
    text-decoration: underline !important;
    color: #007bff !important;
}

.activo {
    background:#c0efce;
    color:#006100;
}

.inactivo
{
    background:#ffc7ce;
    color:#9c0006;
}



/*------------------------------------------------------*/


#contenedor {
    background: #fff;
    margin-top:20px;
    border: 1px solid #e7e7e7;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: .5rem 1rem;
}

.navbar {
    padding: 0 1rem 0 1rem !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-nav .dropdown-toggle {
    padding: .5rem 1rem !important;
    color: #fff !important;
    font-weight: bold !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus, .navbar-nav .dropdown-toggle:hover {
    background: #02635a !important; /*#027702;*/
}

.navbar .nav-link:hover {
    cursor: pointer !important;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('imgs/icon_top.png') no-repeat;
}

.bg-turquoise {
    background-color: #009688;
}
.oper button{
    margin: 0 0.5rem;
}


input[type=checkbox], input[type=radio] {
    width: 1.2rem;
    height: 1.2rem;
}

label {
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 150, 136, 0.1) !important;
}

.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: rgba(0, 150, 136, 0.2) !important;
}

.table-striped tbody tr:nth-of-type(odd).selected ,.table-striped tbody tr:nth-of-type(even).selected{
    background-color: rgba(0, 150, 136, 0.3) !important;
    color:#000;
}

.table-striped tbody tr:nth-of-type(odd).selected:hover, .table-striped tbody tr:nth-of-type(even).selected:hover {
    background-color: rgba(0, 150, 136, 0.4) !important;
    color:#000;
}

.nav-tabs .nav-link.active {
    background-color: #009688 !important;
    color: #fff !important;
}

table {
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.alerta {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}